.moviesPage {
  text-align: start;
  padding: 20px;
}

.searchForm {
  margin-bottom: 20px;
}

.searchForm input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  margin-right: 10px;
}

.searchForm button {
  padding: 10px 15px;
  font-size: 1em;
  border: none;
  background-color: rgb(228, 221, 221);
  color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchForm button:hover {
  background-color: #aaaeb3;
}
